<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="./style.css">
      <title>Document</title>
  </head>
  <body>
    <div id="app">
        <div id="topbar">
            <div id="manage_btns">
                <button id="btn_min" onclick="viewWindow('min')">-</button>
                <button id="btn_close" onclick="viewWindow('close')">x</button>
            </div>
        </div>
        <div id="window"></div>
    </div>
    
    <script src="../_electron.js"></script>
  </body>
</html>
